.card {
    width: 100px;
    height: 100px;
    background-color: blue;
    color: white;
    font-size: 34px;
    text-align: center;
    align-content: center;
    position: absolute;
}

#card02 {
    left: 120px;
}

#card03 {
    left: 240px;
}

#card04 {
    left: 360px;
}

#card05 {
    left: 0px;
    top: 150px;
}

#card06 {
    left: 120px;
    top: 150px;
}

#card07 {
    left: 240px;
    top: 150px;
}

#card08 {
    left: 360px;
    top: 150px;
}

#card09 {
    left: 0px;
    top: 300px;
}

#card10 {
    left: 120px;
    top: 300px;
}

#card11 {
    left: 240px;
    top: 300px;
}

#card12 {
    left: 360px;
    top: 300px;
}

#card13 {
    left: 0px;
    top: 450px;
}

#card14 {
    left: 120px;
    top: 450px;
}

#card15 {
    left: 240px;
    top: 450px;
}

#card16 {
    left: 360px;
    top: 450px;
}


.cards {
    position: relative;
}